:root {
  --jumbotron-padding-y: 3rem;
}
      section{
  background-attachment: fixed;
  

      }
.jumbotron {
  padding-top: var(--jumbotron-padding-y);
  padding-bottom: var(--jumbotron-padding-y);
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: calc(var(--jumbotron-padding-y) * 2);
    padding-bottom: calc(var(--jumbotron-padding-y) * 2);
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

@keyframes animacao{
  0%{
    width: 50px;
  }
  45%{
    width: 50px;
  }
  100%{
    transform: rotate(360deg);  
    }
}

#um{
  width: 50px;
  height: 50px;
  animation-name: animacao;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  float: right; 
}

#dois{
  align-content: right;
 background-color: red;
  width: 50px;
  height: 50px;
  animation-name: animacao;
  animation-duration: 3s;
  animation-iteration-count: infinite; 
  
}


#dj1{
  align-content: right;
}
#t{
  font-style: italic;
  font-size: 20px;
}