body {
    font-family: "Lato", sans-serif;
    transition: background-color .5s;
    background-image: url("file:///C:/xampp/htdocs/xampp/do%200/imagens/chocolate.jpg");
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #f8f8f8;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: green;
    transition: 0.3s;

}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}