/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}
#teste{
    background-image: url('../imagens/fundo1.jpg');
      background-attachment: fixed;

    color: white;
}
@keyframes animacao{
	0%{
		width: 200px;
	}
	45%{
		width: 250px;
	}
	100%{
		width: 200px;
	}
}