html{
    background-color: #258;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#form{
    position: relative;
    width: 400px;
    margin: 0 auto;
    margin-top: 8vw;
    margin-bottom: auto;
}
#formP{
    width: 500px;
    margin: 0 auto;
    margin-top: 8vw;
    margin-bottom: auto;
}
input[type=text]{
    color: #fff;
    border: none;
    background: none;
    border-bottom: 2px solid #fff;
    padding: 10px;
    width: 100%
}
.enviar{
    text-decoration: none;
    color: #fff;
}
.enviar:hover{
    text-decoration: underline;
    text-decoration-color: #fff; 
}
input[type=submit]{
    border: none;
    color: #fff;
    margin: 0 auto;
    padding: 20px;
    background: none;
    border: 2px solid #fff;
    transition: all 0.5s;
    width: 100%;
}

input[type=submit]:hover{
    color: #111;
    border: 2px solid #111;
    
}
tr td, th{
    text-align: center;
    padding: 10px;
}
tr td{
    background-color: #f58;
}